<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtmll/DTD/xhtmll-transitional.dtd">
<html>
<head>
  <style>
    body {
    background-color:springgreen;
  }
    h1 {
    font-family:arial;
    color:blue;
  }

    p {font-family:arial;
    max-width: 400px; width: 100%;
    margin: auto;
    margin-bottom: 40px;

  }
    a {
    font-family:arial;
  }
  </style>

</head>
<body>
  <div style="text-align: center;">
    <h1>This is the tamatoo info page</h1>
    <img src="tamatoes.jpg" height="150" style="margin-bottom: 20px;"/>
    <p>
    This is the tamtoo website you might be wondering what this is. well it is a website that you find codes that
    the creator tamatoo will spread on discord. Use the codes to make tamatoo bucks, at the moment you cant do anything.
    The next thing in am going to work on is data storage to be more efficient. Then making something like a leaderboard.
  </p>

    <a href="http://localhost:5000/register">click here to register</a>
    <a href="http://localhost:5000/register">click this to login</a>
  </div>
</body>

</html>
