<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtmll/DTD/xhtmll-transitional.dtd">
<html>
<style>
body {
background-color:#ffb6c1;
}
.button1 {
  position: fixed;
  top: 3%;
  right: 12%;
  height: 33px;
  width: 100px;
}
.button2 {
  position: fixed;
  top: 3%;
  right: 25%;
  height: 30px;
  width: 63px;
}
.button3 {
  position: fixed;
  top: 3%;
  right: 20%;
  height: 30px;
  width: 60px;
}
</style>
<head>
  <button class="button1" onclick="window.location.href = 'http://localhost:5000/profile';">Back To Profile</button>
  <button class="button2" onclick="window.location.href = 'http://localhost:5000/register';">Register</button>
  <button class="button3" onclick="window.location.href = 'http://localhost:5000/login';">Login</button>
  <center>
  <h1>Leaderboard</h1>
  </center>
</head>
<title>Leaderboard</title>
<body>
  <center>
    <p>Sorry there are not enough users once we have 5 users then there will be a leaderboard</p>
  </center>
</body>
</html>
